.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  border-radius: 0px;
  box-shadow: 5px 5px 0px 0px #292929;
}

.authentication form {
  margin-bottom: 1rem;
}
