.button {
  font: inherit;
  padding: 0.4rem 1rem;
  border: 1px solid #22221e;
  border-radius: 14px;
  background: #22221e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #f8df00;
  border-color: #f8df00;
  color: #292929;
  border: 2px solid;
}

.button--inverse {
  background: transparent;
  color: #22221e;
  border: 2px solid;
}

.button--inverse:hover,
.button--inverse:active {
  color: #292929;
  background: #f8df00;
  border: 2px solid;
}

.button--danger {
  background: #56564e;
  border-color: #56564e;
}

.button--danger:hover,
.button--danger:active {
  background: #f86300;
  border-color: #f86300;
  border: 2px solid;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
