.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  border: 1.5px solid transparent;
  box-shadow: 5px 5px 0px 0px transparent;
  border-radius: 10px;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #f8df00;
  border-radius: 10px;
  border: 1.5px solid #292929;
  box-shadow: 5px 5px 0px 0px #292929;
}

.nav-links button {
  cursor: pointer;
  padding: 0.5rem;
  font: inherit;
  border: 1.5px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px transparent;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  /* background: #292929; */
  color: #fffffd;
  border-radius: 10px;
  border: 1.5px solid white;
  box-shadow: 5px 5px 0px 0px #292929;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    text-decoration: none;
  }

  .nav-links button {
    border: 1.5px solid transparent;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
  }
}
