.place-item {
  margin: 5rem;
  width: 400px;
}

.place-item__content {
}

.place-item__content:hover {
  transform: scale(1.02);
}

.place-item__image {
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  padding: 0 0 0 0;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info {
  text-align: center;
}

.place-item__info h2 {
  margin: 1rem 0 0.8rem 0;
}
.place-item__info h4,
.place-item__info p {
  margin: 0 0 0.3rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
}
